.Form {
    width: 40%;
    height: 40vh;
    background-color: aquamarine;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 100px;
    box-shadow: 2px 2px 5px 0 rgb(89, 252, 197);    
}

.Inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}